.color-1 { background-color: rgb(207, 14, 14); }
.color-2 { background-color: rgb(219, 74, 74); }
.color-3 { background-color: rgb(231, 135, 135); }
.color-4 { background-color: rgb(243, 195, 195); }
.color-5 { background-color: rgb(255, 255, 255); }
